.projects-heading {
  padding: 2rem 0;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.project-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
